body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #b1b1b1;
}

#app, #comparisonPage {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(241, 241, 241);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#search {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#searchBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #0056b3;
}

.nav-link {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #28a745;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #218838;
}

#results, #comparisonResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    width: 220px;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    transition: transform 0.3s ease;
}

.item:hover {
    transform: translateY(-2px);
    background-color: rgb(255, 255, 255);
    
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.item h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.item p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.item-checkbox {
    position: absolute;
    top: 75%;
    left: 75%;
    z-index: 1;
}

.item label {
    display: block;
    cursor: pointer;
}

/* Estilo personalizado para checkboxes */
.item-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #007bff;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s;
}

.item-checkbox:checked {
    background-color: #007bff;
}

.item-checkbox:checked::before {
    content: '\2714';
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 20px;
}